section.hotmeals#HotMeals
  .flex.flex--center.image
    .col-2
      p.home-leadout.narrative-head ...A Home <span class ="highlightblue">Cooked Meal</span> every <span class="highlightblue">Wednesday</span> for anyone in need...


  .flex.flex--center
    .col-2
      .logo-container
        .logo-hot
      H3.heading-no-float The House of Bread's free hot meals <br>
      p House of Bread provides a home cooked meal twice a week, fresh clothing, food bags and toiletries to anyone in need in Stafford. All free of charge. Volunteers are on-hand to serve the meal and chat to our friends...

      .services
        ul
          li.icon: H3 Food
              .outer
                .inner
                  .icon-knifefork
          li.icon: H3 Friendship
              .outer
                .inner
                  .icon-friendship
          li.icon: H3 Advice
              .outer
                .inner
                  .icon-advice
          li.icon: H3 Support
              .outer
                .inner
                  .icon-support

      a(href="").read-more-cta Read More



  .flex.flex--center
    .col-2.venue
      H3.heading-float Where?... <br> <address> Stafford Conservative Club <br> Castle Street <br> Stafford <br> ST16 2ED <br>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2411.902462644524!2d-2.127987649089151!3d52.8060964226414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a71714dd1df71%3A0xf47e9ea99366430c!2sStafford+Conservative+Association!5e0!3m2!1sen!2suk!4v1457043200548" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe> <br>



  .flex.flex--center.white-bg
    .col-2.when
      H3.heading-when When?... <br>
      p Every Wednesday - 18:00 - 20:30 <br>
