section.events#events
  .flex.flex--center
    .col-2
      H2.home-leadout ...What's on at House of Bread?...
  .flex.flex--center
    .col-2
      H2 Up Coming Events...
  .flex.flex--center
    .col-50
      .col-1.left
        a(href="").charity-dinner
          H3 Charity Dinner
          H5.large-event ---The Moat House---
          .charity-dinner-icon
          h5 29th April 2016
    .col-50
      .col-1
        a(href="").valuation-day
          H3 Valuation day
          H5.large-event ---Venue---
          .valuation-day-icon
          H5 21st May 2016
  .flex.flex--center
    .col-2
      H2 Weekly Events...

      .weekly-events
        a(href="").tuesday
          h3 Tuesday
          .icon-tues
          h5 Hob @ Doxey
        a(href="").wednesday
          h3 Wednesday
          .icon-weds
          h5 Hot Meal
        a(href="").sunday
          h3 Sunday
          .icon-sun
          h5 Bread Church
