section.hotmeals
  .flex.flex--center
    .col-2
      p.home-leadout ...A Home <span class ="highlightblue">Cooked Meal</span> every <span class="highlightblue">Wednesday</span> from <span class="highlightblue"> 18:30 - 20:00</span>, for anyone in need...
  .flex.flex--center
    .col-2
      .hot-face

  .flex.flex--space-around
    .col-2.icon-space
      .services
        ul
          li.icon
                  H3 Food
                  .outer
                    .inner
                      .icon-knifefork
          li.icon: H3 Friendship
              .outer
                .inner
                  .icon-friendship
          li.icon: H3 Advice
              .outer
                .inner
                  .icon-advice
          li.icon: H3 Support
              .outer
                .inner
                  .icon-support

  .flex.flex--center
    .col-50
      a(href="").home-cta Hot Meals Information
