section.vlog#vlogs
  .flex.flex--space-around
    .col-50
      .col-1
        .flex-video <iframe src="https://www.youtube.com/embed/gQ6eHm68RY0" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead ...check out our Weekly Vlogs on YouTube...

      .video-mob-container
        .flex-video-mob <iframe src="https://www.youtube.com/embed/gQ6eHm68RY0" frameborder="0" allowfullscreen></iframe>
      a(href="https://www.youtube.com/channel/UCOXAqZReXUf4sZg_gvpGUew").home-cta Watch on YouTube
