section.projects#projects
  .flex.flex--center
    .col-2
      H2.home-leadout ...Anything else?...
      p.home-lead ...Yeah...we dabble!...

  //.flex--center
    .col-50.flex.flex--center
      .col-1
        H2 Projects...

  .flex.flex--center
    .col-2
      .projects-container
        .project
          .project-community-garden
        .project
          .project-store-house
        .last-project
          .project-blanket-project



  .flex.flex--center
    .col-2
      a(href="").home-cta HoB Projects
