section.volunteer#volunteer
  .flex.flex--center
    .col-2
      H2.home-leadout ...but we can't do all of this on our own...
      .home-lead ...HOB Needs You!...

      ul
        li
          a(href="#").home-cta Volunteer
        li
          a(href="#").home-cta Fundraise
        li
          a(href="#").home-cta Donate
