section.about#about
  .flex.flex--center
    .col-50
      h1.banner-logo HOUSE OF BREAD
  .flex.flex--center 
    .col-2
      h2 House of Bread is a charity that helps vulnerable people in the Stafford community.
      p.home-lead.test On a weekly basis we provide...
