section.shop#shop
  .flex.flex--center
    .col-2
      H2.home-leadout ..Check out our <span class="emphasise">stylish</span> merchandise...
  .flex.flex--center
    .col-2
      a(href="").perriscope
        .tint
          .promotional-message HOB Jackets
            strong <span>Only</span> £32
        .jacket


  .flex.flex--center
    .col-2
      a(href="").home-cta-shop Enter Shop
