---
layout: default
title: House of Bread
---

<div class="ticker">
  {% include twitcker.html %}
</div>
<div class="home-wrap">
  {% include header.html %}
  <div class="sections">
    {% include section-about.html %}
    {% include section-hotmeals.html %}
    {% include section-foodbanks.html %}
    {% include section-casework.html %}
    {% include section-projects.html %}
    {% include section-volunteer.html %}
    {% include section-shop.html %}
    {% include section-vlog.html %}
    {% include section-contactus.html %}
  </div>

</div>
