<section class="blogindexbody">
  <div class="flex flex--center">
    <div class="col-2" id="blog">

      <div id="paging_container_news" class="container">
        <h2>Latest News..</h2>
          <ul class="blog-posts">
          {% for post in site.categories.news %}
          <li class="blog-post">
          {% assign author = site.data.authors[post.author] %}
            <a href="{{ post.url }}" class="content post">
              <div class="post-author">
                <img src="{{ author.avatar }}" class="avatar"></img>
                <h3 class="title">{{ post.title }}</h3>
                <p class="post-details">
                  {{ author.name }}
                  <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                </p>
              </div>
              <p class="excerpt">{{ post.excerpt }} </p>
            </a>
            </li>
          {% endfor %}
        </ul>
        <div class="page_navigation"></div>
      </div>
    </div>
  </div>
  <div class="flex flex--center">
    <div class="col-2">
      <div id="paging_container_events" class="container">
        <h2 id="Events">Up Coming Events...</h2>
          <ul class="blog-posts">
          {% for post in site.categories.events %}
          {% assign curr_date = site.time | date: "%Y-%m-%d" %}
          {% if curr_date < post.expires %}
          <li class="blog-post pinned">
          {% assign author = site.data.authors[post.author] %}
            <a href="{{ post.url }}" class="content post">
              <div class="post-author">
                <img src="{{ author.avatar }}" class="hobavatar"></img>
                <h3 class="title">
                  {{ post.title }}
                  <i class="fa fa-thumb-tack" aria-hidden="true">Pinned Post</i>
                </h3>
                <p class="post-details">
                  {{ author.name }}
                  <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                </p>
              </div>
              <p class="excerpt">{{ post.excerpt }} </p>
            </a>
            </li>
          {% endif %}
          {% endfor %}

          {% for post in site.categories.WeeklyEvents %}

          <li class="blog-post">
          {% assign author = site.data.authors[post.author] %}
            <a href="{{ post.url }}" class="content post">
              <div class="post-author">
                <img src="{{ author.avatar }}" class="hobavatar"></img>
                <h3 class="title">{{ post.title }}</h3>
                <p class="post-details">
                  {{ author.name }}
                  <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                </p>
              </div>
              <p class="excerpt">{{ post.excerpt }} </p>
            </a>
            </li>

            {% endfor %}


        </ul>
        <div class="page_navigation"></div>
      </div>

      <script type="text/javascript">
        $(document).ready(function(){
          $('#paging_container_news').pajinate({
            nav_label_first : '<<',
					  nav_label_last : '>>',
					  nav_label_prev : '<',
					  nav_label_next : '>',
            items_per_page : 4,
            num_page_links_to_display : 3
          });
        });

        $(document).ready(function(){
          $('#paging_container_events').pajinate({
            nav_label_first : '<<',
					  nav_label_last : '>>',
					  nav_label_prev : '<',
					  nav_label_next : '>',
            items_per_page : 8,
            num_page_links_to_display : 3,
          });
        });

      </script>

  </div>
  </div>
</section>
