<section id="HotMeals" class="hotmeals">
  <div class="flex flex--center grey">
    <div class="col-2">
      <h2 class="home-leadout narrative-head">
        ...A Home <span class ="highlightwhite">Cooked Meal</span> every <span class="highlightwhite">Wednesday</span> for anyone in need...
      </h2>
    </div>
  </div>
  <div class="flex flex--center black-bg">
    <div class="col-2">
      <div class="logo-container">
        <div class="logo-hot"></div>
      </div>
    </div>
  </div>

    <div class="flex flex--center black-bg">
      <div class="col-2">
        <h3 class="heading-center">The House of Bread's free hot meals <br></h3>
        <p>House of Bread provides a home cooked meal twice a week, fresh clothing, food bags and toiletries to anyone in need in Stafford. All free of charge. Volunteers are on-hand to serve the meal and chat to our friends...<p>
      </div>
    </div>

    <div class="flex flex--center">
      <div class="col-2">
        <h3 class="heading-left">Where and When?...</h3>
        <p>Wednesday's 18:00hrs - 20:30hrs</p>
        <h5>Venue Address</h5>
        <address>Stafford Conservative Club<br>
        Castletown<br>
        Stafford<br>
        </address>
        <div class="map-container">
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2411.902462644524!2d-2.127987649089151!3d52.8060964226414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a71714dd1df71%3A0xf47e9ea99366430c!2sStafford+Conservative+Association!5e0!3m2!1sen!2suk!4v1457043200548" width="100" height="100" frameborder="0" style="border:0" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  <div class="flex flex--center black-bg">
    <div class="col-2">
    </div>
  </div>
  <div class="flex flex--center">
    <div class="col-2">
      <h3 class="heading-left">What to expect...</h3>
      <div class="services">
        <ul>
          <li class="width">
            <h3>Food</h3>
            <div class="outer">
              <div class="inner">
                <div class="icon-knifefork"></div>
              </div>
            </div>
          </li>
          <li class="width">
            <h3>Friednship</h3>
            <div class="outer">
              <div class="inner">
                <div class="icon-friendship"></div>
              </div>
            </div>
          </li>
          <li class="width">
            <h3>Advice</h3>
            <div class="outer">
              <div class="inner">
                <div class="icon-advice"></div>
              </div>
            </div>
          </li class="width">
          <li>
            <h3>Support</h3>
            <div class="outer">
              <div class="inner">
                <div class="icon-support"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <div class="col-50">
          <a href="#readmore" class="home-cta">Read More</a>
        <div/>
      <div/>
    </div>
  </div>
</section>
