<section class="podcastindex">
  <div class="flex flex--center">
    <div class="col-2">
      <h1>Podcast</h1>
      <p class="home-leadout">The Hobcast..</p>
      <div class="bloglinks">
      <ul>
        <li id="newsLink">
          <i class="fa fa-play-circle" aria-hidden="true"></i>
          <a href="#blog">Latest</a>
        </li>
        <li id="eventsLink">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <a href="#Events">Previous</a>
        </li>
        <li id="subcribeLink">
          <i class="fa fa-rss-square" aria-hidden="true"></i>
          <a href="#">Subscribe</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>
