<section class="blogindex">
  <div class="flex flex--center">
    <div class="col-2">
      <h1>House of Bread News</h1>
      <p class="home-leadout">What's going on?..</p>
      <div class="bloglinks">
      <ul>
        <li id="newsLink">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          <a href="#blog">News</a>
        </li>
        <li id="eventsLink">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <a href="#Events">Events</a>
        </li>
        <li id="subcribeLink">
          <i class="fa fa-rss-square" aria-hidden="true"></i>
          <a href="#">Subscribe</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>
